
/* ==============================
   1. Imported styles
   ============================== */
/**/


@import url(bootstrap.min.css);
@import url(bootstrap-select.min.css);

@import url(font-awesome.css);

/*======================================================================================================
   Flaticon icon font: Flaticon
   Creation date: 22/08/2017 08:35
   ======================================================================================================
 */

@font-face {
    font-family: "Flaticon";
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}
.flaticon-smile:before { content: "\f100"; }
.flaticon-competition:before { content: "\f101"; }
.flaticon-anchor:before { content: "\f102"; }
.flaticon-placeholder-1:before { content: "\f103"; }
.flaticon-technology-1:before { content: "\f104"; }
.flaticon-coffee-cup:before { content: "\f105"; }
.flaticon-tool-1:before { content: "\f106"; }
.flaticon-england:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-arrow-1:before { content: "\f109"; }
.flaticon-transport:before { content: "\f10a"; }
.flaticon-download:before { content: "\f10b"; }
.flaticon-pdf:before { content: "\f10c"; }
.flaticon-downloading:before { content: "\f10d"; }
.flaticon-arrow:before { content: "\f10e"; }
.flaticon-play-button:before { content: "\f10f"; }
.flaticon-back:before { content: "\f110"; }
.flaticon-next:before { content: "\f111"; }
.flaticon-plus-symbol:before { content: "\f112"; }
.flaticon-minus:before { content: "\f113"; }
.flaticon-clock:before { content: "\f114"; }
.flaticon-consulting-message:before { content: "\f115"; }
.flaticon-layers:before { content: "\f116"; }
.flaticon-tool:before { content: "\f117"; }
.flaticon-money-4:before { content: "\f118"; }
.flaticon-technology:before { content: "\f119"; }
.flaticon-travel-1:before { content: "\f11a"; }
.flaticon-money-3:before { content: "\f11b"; }
.flaticon-monitor:before { content: "\f11c"; }
.flaticon-diagram:before { content: "\f11d"; }
.flaticon-business-1:before { content: "\f11e"; }
.flaticon-check-list:before { content: "\f11f"; }
.flaticon-money-2:before { content: "\f120"; }
.flaticon-money-1:before { content: "\f121"; }
.flaticon-travel:before { content: "\f122"; }
.flaticon-money:before { content: "\f123"; }
.flaticon-graphic-3:before { content: "\f124"; }
.flaticon-graphic-2:before { content: "\f125"; }
.flaticon-suitcase:before { content: "\f126"; }
.flaticon-people-1:before { content: "\f127"; }
.flaticon-people:before { content: "\f128"; }
.flaticon-graphic-1:before { content: "\f129"; }
.flaticon-business:before { content: "\f12a"; }
.flaticon-graphic:before { content: "\f12b"; }
.flaticon-pie-chart:before { content: "\f12c"; }
.flaticon-notebook:before { content: "\f12d"; }
.flaticon-placeholder:before { content: "\f12e"; }
.flaticon-telephone:before { content: "\f12f"; }
.flaticon-close-envelope:before { content: "\f130"; }

/* ==============================
   2. Global styles
   ============================== */

body {
  font-family: 'Hind', sans-serif;
  color:#222222;
  font-size: 16px;
}

.lower-content p{
  text-align: justify;
  color: black;
  word-wrap: break-word;
}
h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
}

ul {list-style-type: none;}

p {font-family: 'Hind', sans-serif;font-size: 16px;color: #848484;line-height: 26px; font-weight: 300;}
a {text-decoration: none;display: inline-block;outline: none;}
a:hover,a:focus,a:visited {text-decoration: none; outline: none;}

img {max-width: 100%;display: inline-block;}

button {border:none; outline:none; box-shadow: none; display: block; padding: 0; background: transparent;}
input,textarea {font-family: 'Hind', sans-serif;display: block; font-size: 16px; line-height: 28px; outline: none; box-shadow: none;transition: all 0.3s ease-in-out;}


.boxed_wrapper {
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}
.sec-padd {
  padding: 75px 0 80px;
}
.sec-padd2 {
  padding: 75px 0 30px;
}

.sec-padd-top {
  padding-top: 75px;
}
.sec-padd-bottom {
  padding-bottom: 80px;
}
.no-padd {
  padding: 0px;
}
.clear_fix { clear:both;}
.clear_fix:after {
  display: table;
  content: '';
  clear: both;
}
.list_inline li {
  display: inline-block;
}
.social li {
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
}
.social li a {
  color: #fff;
  transition: .5s ease-in-out;
  font-size: 14px;
}
.default_link {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #387eb2;
  font-weight: 600;
}
.default_link:hover {
  color: #387eb2;
}

.btn-style-one{
    position:relative;
    padding:8px 25px 9px;
    line-height:26px;
    text-transform:capitalize;
    background:#387eb2;
    color:#ffffff !important;
    font-size:16px;
    font-weight:600;
    border:2px solid #387eb2 !important;
    border-radius:1px;
    font-family: 'Titillium Web', sans-serif;
}

.btn-style-one:hover{
    color:#387eb2 !important;
    border-color:#387eb2 !important;
    background:none;
}

.default_link i {
  margin-left: 3px;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  top: 1px;
}

.default-overlay-outer{
  position:absolute;
  display:block;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  padding:10px;
  transition:all 700ms ease;
  -webkit-transition:all 700ms ease;
  -ms-transition:all 700ms ease;
  -o-transition:all 700ms ease;
  -moz-transition:all 700ms ease;
}

.default-overlay-outer .inner{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display:table;
  vertical-align:middle;
  text-align:center;
}

.default-overlay-outer .inner .content-layer{
  position:relative;
  display:table-cell;
  vertical-align:middle;
  color:#ffffff;
}


.rating {
    font-size: 14px;
    color: #3841b2;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #292121;
    background: #292121;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.75);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.75);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,255,0.75);
}


.uppercase {
  text-transform: uppercase;
}
.padd-80 {
  padding-top: 80px;
}
.tran3s {
  transition: all 0.3s ease-in-out;
}
.center {
  text-align: center;
}


.row-5 {
  margin: 0 -5px;
}
.row-10 {
  margin: 0 -10px;
}

.thm-color {
  color: #3841b2;
}

.bold {
  font-weight: 700;
}
.s-bold {
  font-weight: 600;
}
.m-bold {
  font-weight: 600;
}

.float_left {
    float: left;
}
.float_right {
    float: right;
}

.border-bottom {
  border-bottom: 1px solid #f7f7f7;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.thm-btn {
  position: relative;
  background: #387eb2;
  font-size: 14px;
  line-height: 46px;
  font-weight: 600;
  color: #ffffff;
  border: 2px solid #387eb2;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 0 38px;
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}
.thm-btn:hover {
  background: transparent;
  color: #387eb2;
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.thm-btn-tr {
  position: relative;
  background: transparent;
  font-size: 14px;
  line-height: 46px;
  font-weight: 600;
  color: #ffffff;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 0 38px;
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.section-title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.section-title h2 {
  position: relative;
  text-transform: capitalize;
}
.section-title h3 {
  position: relative;
  font-size: 24px;
  text-transform: capitalize;
}
.section-title h4 {
  position: relative;
  font-size: 20px;
  text-transform: capitalize;
}
.section-title:before {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eaeaea;
}

.section-title:after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #387eb2;
}
.section-title.center:after {
    left: 50%;
    margin-left: -25px;
}

/***

====================================================================
    whychoos-us Section style
====================================================================

***/
.whychoos-us {
  background: #f7f7f7;
}

.whychoos-us .section-title {
  padding: 0;
}
.whychoos-us .section-title p {
  font-size: 18px;
  margin-top: 50px;
}

.whychoos-us .item {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 5px;
}



.whychoos-us .item p:before,
.whychoos-us .item:before {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  background: #eaeaea;
  left: 0;
  bottom: 0;
}

.whychoos-us .item p:after,
.whychoos-us .item:after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  background: #387eb2;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: .5s ease;
}


.whychoos-us .item:hover p:after,
.whychoos-us .item:hover:after {
  transform: scaleX(1);
  transition: .5s ease;
}




.whychoos-us .icon_box {color: #3841b2;font-size: 50px;}

.whychoos-us h4 {
  font-size: 20px;
  color: #222;
  margin-bottom: 15px;
}

.whychoos-us .item p {
  position: relative;
  padding-bottom: 24px;
}

.whychoos-us .count {
  position: absolute;
  right: 0;
  top: 56px;
  font-size: 40px;
  color: #f0f0f0;
}

/***

====================================================================
  Fact Counter Section
====================================================================

***/

.fact-counter{
  position:relative;
  padding: 70px 0px 40px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  overflow:hidden;
  color:#ffffff;
  margin-bottom: 3px;
}

.fact-counter:before{
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(10, 27, 34, 0.95);
  z-index:0;
}

.fact-counter .auto-container{
  position:relative;
  z-index:1;
}

.fact-counter .column{
  position:relative;
  margin-bottom:40px;
  text-align:center;
  z-index:5;
}
.fact-counter .item {
  position: relative;
  border: 2px solid #19333e;
  color: #fff;
  padding: 17px 0 25px;
}

.fact-counter .column .icon i {
  font-size: 30px;
  position: absolute;
  bottom: -10px;
  right: 5px;
  margin-bottom:20px;
  color: #19333e;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.fact-counter .count-outer{
  position:relative;
  font-size: 36px;
  font-weight: 600;
  padding: 0px 10px 5px;
  font-family: 'Poppins', Sans-serif;
}
.fact-counter .count-outer:before {
}

.fact-counter .column .counter-title{
  position:relative;
  font-size: 18px;
  font-weight: 300;
  font-family: "Hind", Sans-serif;
  color: #387eb2;
}



/***

====================================================================
  google map Section
====================================================================

***/
.home-google-map #contact-google-map {
  margin-top: 20px;
  width: 100%;
  height: 420px;
}
.home-google-map .gmnoprint {
    display: none;
}

.contact_us {

}

/***

====================================================================
  contact Section
====================================================================

***/


.default-cinfo .icon_box {
  width: 40px;
}
.default-cinfo li + li {
  margin-top: 10px;
  border-top: 1px solid #f1f1f1;
  padding-top: 12px;
}
.default-cinfo li .icon_box,
.default-cinfo li .text-box {
  display: table-cell;
  vertical-align: top;
}

.default-cinfo li .icon_box i {
  font-size: 20px;
  color: #387eb2;
  position: relative;
  top: 7px;
}
.default-cinfo .accordion .acc-btn {
  background: #f7f7f7;
  padding: 14px 30px;
  margin: 0;
}

.default-cinfo .accordion-box {
  border: none;
}
.default-cinfo .accordion {
  border: 1px solid #f7f7f7;
}
.default-cinfo .accordion-box .accordion .acc-content b {
  color: #222;
  font-weight: 600;
}

/*form*/

.default-form {
  position: relative;
}


.default-form p {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px;
}
.default-form p span {
  color: #ab7442;
  font-size: 20px;
  font-weight: 600;
}


.default-form .form-box{
  position:relative;
}

.comment-form .form-box{
  padding:25px 25px 0px 25px;
}

.default-form .form-group{
  position:relative;
  margin-bottom:30px;
}

.default-form .comment-form .form-box .form-group{
  margin-bottom:25px;
}

.default-form.form-box .row{
  margin-left:-10px;
  margin-right:-10px;
}

.default-form.form-box .row .form-group{
  padding:0px 0px;
}

.default-form .form-group .field-label{
  display:block;
  line-height:24px;
  text-transform:uppercase;
  margin-bottom:10px;
  color:#232323;
  font-weight:500;
  font-size:13px;
}

.default-form .form-group .field-label sup{
  color:#ff0000;
  font-size:14px;
}

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="number"],
.default-form select,
.default-form textarea{
  display:block;
  width:100%;
  line-height:24px;
  height:46px;
  font-size:16px;
  box-shadow: none;
  border: 1px solid #f4f4f4;
  padding:12px 15px;
  background: #fff;
  border-radius: 0px;
  transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.default-form textarea{
  height: 115px;
}
.default-form .bootstrap-select {
    border: 1px solid #f4f4f4;
    background: #f7f7f7;
    color: #a2a2a2;
    padding: 10px 0;
    font-size: 16px;
    height: auto;
}
.default-form .btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.default-form .btn-group.open .dropdown-toggle:focus {
  border: none;
  outline: none;
}
.default-form  .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.default-form  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #387eb2;
  color: #fff;
}
.default-form .form-control:focus {
  border-color: #387eb2;
  box-shadow: none;
}
.default-form .form-control:hover {
  border-color: #387eb2;
  box-shadow: none;
}




.select-box .btn:after {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  font-size: 16px;
  color: #387eb2;
  width: 20px;
  right: 15px;
  top: 50%;
  margin-top: -11px;
}



.default-form .bootstrap-select {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}

.default-form .g-select {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}
.default-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  color: #848484;
  padding: 13px 15px;
  border: 1px solid #eee;

}

.default-form .bs-caret {
  display: none;
}

.default-form .dropdown-menu {
    border-radius: 0px;
    padding: 0px;
    top: 50px;
    transform: scaleY(0);
        transform-origin: top center;
    transition: .4s ease;
}
.default-form .bootstrap-select.open .dropdown-menu {
  transform: scaleY(1);
  transition: .4s ease;
}

.default-form .dropdown-menu>li>a {
  padding: 8px 15px;
}

.default-form .dropdown-menu>li>a:focus {
    background-color: #fff;
    color: #222;
}
.default-form .dropdown-menu>li>a:hover {
    background-color: #387eb2 !important;
    color: #fff !important;
}







/*placeholder*/

.default-form form input::-webkit-input-placeholder {
  color: #9e9e9e;
}
.default-form form input:-moz-placeholder {
  /* Firefox 18- */
  color: #9e9e9e;
}
.default-form form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9e9e9e;
}
.default-form form input:-ms-input-placeholder {
  color: #9e9e9e;
}


.default-form .alert-success {
    color: #387eb2;
    background: none;
    border: none;
    font-size: 18px;
}


/*author-details*/



.author-details {
  background: #f7f7f7;
  padding: 1px 20px;
}
.author-details .item {
  padding: 20px 20px 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.08);
  background: #fff;
  margin: 30px 0;
}
.author-details .item:last-child {
  border-bottom: 0px;
}
.author-details .item .img-box,
.author-details .item .content {
  display: table-cell;
  vertical-align: top;
}

.author-details .item .img-box{
  width: 67px;
}

.author-details .item .content{
  padding-left: 20px;
}

.author-details .item .content p {
  color: #9e9e9e;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 25px;
}
.author-details .item .content p i {
  color: #387eb2;
  margin-right: 5px;
}

.author-details .item h5 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #272727;
}
.author-details .item .content h5 {
  color: #3841b2;
  margin: 0;
}




/***

====================================================================
 consultation style
====================================================================

***/
.consultations {
  position: relative;
  padding-bottom: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}

.consultations .default-form .column {
  padding: 0 10px;
}

.consultations .section-title h2 {
  color: #fff;
}
.consultations .section-title {
    padding-bottom: 21px;
}
.consultations .section-title:after,
.consultations .section-title:before {
  top: 58px;
}
.consultations .section-title:before {
  background: #2a3a40;
}
.consultations .default-form .form-group {
  margin-bottom: 20px;
}

.consultations .default-form .form-group.style-2 {
  padding-right: 90px;
}


.consultations .default-form input[type="text"],
.consultations .default-form input[type="email"],
.consultations .default-form input[type="password"],
.consultations .default-form input[type="number"],
.consultations .default-form select,
.consultations .default-form textarea{
  border: 2px solid #19333e;
  background: transparent;
  height: 50px;
}
.consultations .default-form input:focus{
  border-color: #387eb2;
}
.consultations .default-form textarea{
  height: 190px;
}
.consultations .default-form .bootstrap-select {
  background: transparent;
}

.consultations .default-form .btn.focus,
.consultations .default-form .btn:focus,
.consultations .default-form .btn:hover {
  color: #fff;
}

.consultations .default-form .thm-btn {
  width: 70px;
  border: 2px solid transparent;
  line-height: 190px;
  height: 190px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}
.consultations .select-box .btn:after {
  color: #848484;
}
.consultations .default-form .thm-btn:hover {
  border-color: #fff;
}

.consultations .default-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  color: #cacaca;
  border: 2px solid #19333e;
}


.consultations ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cacaca !important;
}
.consultations ::-moz-placeholder { /* Firefox 19+ */
  color: #cacaca !important;
}
.consultations :-ms-input-placeholder { /* IE 10+ */
  color: #cacaca !important;
}
.consultations :-moz-placeholder { /* Firefox 18- */
  color: #cacaca !important;
}


.consultations .contact-info{
  border: 2px solid #387eb2;
  padding: 24px 28px 12px;
  margin-bottom: 20px;
}

.consultations .contact-info .section-title {
  margin-bottom: 25px;
}

.consultations .contact-info .section-title h3 {
  color: #fff;
}

.consultations .contact-info .section-title:after {width: 75px;background: rgba(255, 255, 255, 0.5);top: 41px;}
.consultations .contact-info .section-title:before {display: none;}
.consultations .contact-info .text p {color: #fff;margin-bottom: 22px;}

.consultations .contact-info li{
  position:relative;
  padding-left: 35px;
  margin-bottom: 12px;
  line-height:24px;
  color: #fff;
}

.consultations .contact-info li span {
  position:absolute;
  left:0px;
  top:0px;
  line-height:24px;
  font-size: 16px;
  color: #387eb2;
}


/***
=============================================
    page_pagination style
=============================================
***/


. {
  text-align: center;
  padding-top: 20px;
}
.page_pagination li {
  display: inline-block;
  margin:0 4px;
}
.page_pagination li a {
  width: 55px;
  line-height: 55px;
  border:1px solid rgba(229, 229, 229, 0.57);
  text-align: center;
  color: #252525;
  font-size: 18px;
  border-radius: 2px;
}
.page_pagination li a.active,
.page_pagination li a:hover {
  color:#fff;
  background: #387eb2;
}




/***
=============================================
   Shop Single area  style
=============================================
***/
/* ==============================
   5. Our Services styles
   ============================== */
.our-services {
  padding: 70px 0 15px;
}
.our-services.style-2 {
}

.our-services .separet {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 40px;
  top: -10px;
}

.our-services .caption-box-wrapper {
  border-top: 1px solid #F4F4F4;
  margin-top: 35px;
}
.our-services .single-our-service {
  margin-bottom: 56px;
}

.our-services .single-our-service h4 {
  margin-top: 17px;
  margin-bottom: 11px;
  color: #222;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  transition: .5s ease;
}
.our-services .single-our-service:hover h4 {
  color: #387eb2;
  transition: .5s ease;

}
.our-services .single-our-service .img-box {
  position: relative;
  max-width: 370px;
}
.our-services .single-our-service .text-box {
  border: 1px solid #f1f1f1;
  border-top: 0px;
  padding: 5px 20px 30px;
}

.our-services .single-our-service-caption-box {
  padding-top: 40px;
}
.our-services .single-our-service-caption-box .img-box,
.our-services .single-our-service-caption-box .content-box {
  display: table-cell;
  vertical-align: middle;
}
.our-services .single-our-service-caption-box .img-box {
  width: 120px;
}
.our-services .single-our-service-caption-box .content-box {
  padding-left: 20px;
}
.our-services.service-page .has-divider {
  border-top: 1px solid #F4F4F4;
  margin-top: 60px;
  padding-top: 60px;
}
.our-services .single-our-service .img-box {
  overflow: hidden;
}
.our-services .single-our-service .img-box img {
  transform: scale(1);
  transition: .5s ease-in-out;
}
.our-services .single-our-service:hover .img-box img {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.our-services .single-our-service .img-box a {
  position: relative;
  display: block;
}

.our-services .single-our-service .img-box a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(72, 199, 236, 0.9);
    left: 0;
    top: 0;
    transform: scale(0,1);
    transition: .5s ease;
}

.our-services .single-our-service:hover .img-box a:after {
    transform: scale(1,1);
    transition: .5s ease;
}

.our-services .single-our-service .thm-btn {
  background: transparent;
  color: #387eb2;
  border-color: #848484;
}
.our-services .single-our-service .thm-btn:hover {
  background: #387eb2;
  color: #fff;
  border-color: #387eb2;
}

