.testimonial-section .testimonial-column .owl-controls .owl-nav [class*="owl-"]:hover {
    background-color: #387eb2 !important;
    border-color: #387eb2;
    color: #ffffff;
}

.testimonial-section .testimonial-column .owl-controls .owl-dots {
    display: none !important;
}

.sec-pd-one{
padding-top: 90px;
padding-bottom: 50px;
}
.service {
    background: #f7f7f7;
}

.service .item {
    position: relative;
    min-height: 366px;
    border-left: 1px solid #e8e8e8;
    overflow: hidden;

}
.service .item:last-child {
    border-right: 1px solid #e8e8e8;
}

.service .item .icon_box {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -39px;
}

.service .item .icon_box span {
    color: #387eb2;
    font-size: 40px;
}

.service .item .icon_box h4 {
    font-size: 20px;
    margin-top: 12px;
}


.service .item .overlay-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0%;
    background: #387eb2;
    transition: .5s cubic-bezier(0.4, 0, 1, 1);
    opacity: 0;
    visibility: hidden;
}
.service .item:hover .overlay-box {
    height: 100%;
    transition: .5s cubic-bezier(0.4, 0, 1, 1);
    opacity: 1;
    visibility: visible;
}
.service .item .overlay-box .icon_box {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    top: 0;
    margin-top: 70px;
    margin-bottom: 20px;
}
.service .item .overlay-box p,
.service .item .overlay-box .icon_box h4,
.service .item .overlay-box .default_link,
.service .item .overlay-box .icon_box span {
    color: #fff;
}

.service .item .overlay-box p {
    margin-bottom: 20px;
    text-align: center;
}
/***
/***

====================================================================
best-service-section
====================================================================

***/

.best-service-section{
    position:relative;
    background-color:#f4f4f4;
    padding:100px 0px 70px 0px;
}

.service-block-two{
    position:relative;
    margin-bottom:30px;
}

.service-block-two .inner-box{
    position:relative;
    padding:30px 20px 20px 100px;
    background:#ffffff;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(230,230,230,1);
    -moz-box-shadow: 0px 4px 10px 0px rgba(230,230,230,1);
    box-shadow: 0px 4px 10px 0px rgba(230,230,230,1);
}

.service-block-two .inner-box .image-layer{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    opacity:0;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

.service-block-two .inner-box .image-layer:after{
    position:absolute;
    content:'';
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#387eb2;
}

.service-block-two .inner-box:hover .image-layer{
    opacity:1;
}

.service-block-two .inner-box .icon-box{
    position:absolute;
    left:30px;
    top:30px;
    width:50px;
    height:50px;
    line-height:48px;
    text-align:center;
    color:#ffffff;
    font-size:34px;
    background-color:#387eb2;
    z-index:2;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

.service-block-two .inner-box h3{
    color:#272727;
    font-size:20px;
    font-weight:700;
    text-transform:capitalize;
    margin:-5px 0px 8px;
    z-index:2;
}

.service-block-two .inner-box .text{
    position:relative;
    color:#9e9e9e;
    font-size:16px;
    z-index:2;
}

.service-block-two .inner-box .read-more{
    position:relative;
    color:#272727;
    margin-top:15px;
    display:inline-block;
    font-weight:700;
    z-index:2;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
}

.service-block-two .inner-box .bottom-icon{
    position:absolute;
    right:10px;
    bottom:10px;
}

.service-block-two .inner-box .bottom-icon span{
    color:#faf9f9;
    font-size:60px;
}

.service-block-two:hover .inner-box{
    background:#387eb2;
}

.service-block-two:hover .inner-box .icon-box{
    background:#ffffff;
    color:#387eb2;
}

.service-block-two:hover .inner-box h3,
.service-block-two:hover .inner-box .text,
.service-block-two:hover .inner-box a{
    color:#ffffff;
    transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
}

.service-block-two:hover .bottom-icon{
    opacity:0;
}

/***


/***
=============================================
Faq appointment Area style
=============================================
***/
.faq-appointment-area {
    position: relative;
}
.faq-content-box {
    position: relative;
    background: #47588f;
    display: block;
    padding: 50px 40px 50px;
    margin-right: 35px;
    margin-bottom: 40px;
}
.faq-content-box:before{
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    display: block;
    background: #47588f;
    content: "";
}
.faq-content-box .sec-title {
    padding-bottom: 16px;
}
.faq-content-box .sec-title span{
    color: #6077c1;
}
.faq-content-box .sec-title .border{
    background: #5165a1;
}
.faq-content-box .sec-title h1{
    color: #ffffff;
}

.accordion-box {
    display: block;
    overflow: hidden;
    padding: 0;
}
.accordion-box .accordion {
    position: relative;
}
.accordion-box .accordion .accord-btn {
    border-bottom: 1px solid #5265a0;
    cursor: pointer;
    position: relative;
    transition: all 500ms ease;
    display: block;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 19px;
}
.accordion-box .accordion .accord-btn h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    transition: all 500ms ease;
}
.accordion-box .accordion .accord-btn::after {
    color: #eef2ff;
    content: "\f10b";
    font-family: "Flaticon";
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 20px;
    transition: all 500ms ease 0s;
    text-align: center;
}
.accordion-box .accordion .accord-btn.active{
    transition: all 500ms ease;
}
.accordion-box .accordion .accord-btn.active h4 {
    color: #f87845;
}
.accordion-box .accordion .accord-btn.active:after{
    content: "\f10a";
    color: #f87845;
    background: transparent;
}
.accordion-box .accordion .accord-content {
    display: none;
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 0px;
    border-bottom: 1px solid #5265a0;
}
.accordion-box .accordion .accord-content.collapsed {
    display: block;
}
.accordion-box .accordion .accord-content p {
    margin: 0;
    color: #eef2ff;
}


.appointment-box {
    border: 1px solid #f2f2f2;
    margin-left: -65px;
    display: block;
    padding-top: 45px;
    padding-left: 50px;
    padding-bottom: 46px;
    padding-right: 50px;
    border-left: none;
    margin-top: 50px;
}
.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form textarea{
    border: 1px solid #f4f4f4;
    background: #f4f4f4;
    color: #909090;
    display: block;
    font-size: 15px;
    height: 52px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    font-weight: 400;
    transition: all 500ms ease;
}
.appointment-form textarea{
    height: 95px;
    padding: 15px 20px;
}
.appointment-form input[type="text"]:focus{
    border-color: #e5e4e4;
}
.appointment-form input[type="email"]:focus{
    border-color: #e5e4e4;
}
.appointment-form textarea:focus{
    border-color: #e5e4e4;
}
.appointment-form button {
    padding: 19px 30px 19px;
    width: 100%;
    max-width: 160px;
}

.appointment-form input::-webkit-input-placeholder {
    color: #909090;
}
.appointment-form input:-moz-placeholder {
    color: #909090;
}
.appointment-form input::-moz-placeholder {
    color: #909090;
}
.appointment-form input:-ms-input-placeholder {
    color: #909090;
}

.appointment-form textarea::-webkit-input-placeholder {
    color: #909090;
}
.appointment-form textarea:-moz-placeholder {
    color: #909090;
}
.appointment-form textarea::-moz-placeholder {
    color: #909090;
}
.appointment-form textarea:-ms-input-placeholder {
    color: #909090;
}


.services-section-two .services-block-two{

padding:0px;
}


/*Services Block Two*/
.services-block-two{
    position:relative;
    background:#dee2e6;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: px;
}

.services-block-two .inner-box{
    position:relative;
    padding:60px 30px 55px;
    text-align:center;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    border-bottom:5px solid transparent;
}

.services-block-two .inner-box:hover{
    border-color: #2796ff;
    background-color:#387eb2;
}

.services-block-two .inner-box .icon-box{
    position:relative;
    color:#387eb2;
    font-size:50px;
    line-height:1em;
    margin-bottom:18px;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

.services-block-two .inner-box:hover .icon-box{
    color:#fc7837;
}

.services-block-two .inner-box h3{
    position:relative;
    font-size:20px;
    font-weight:500;
    line-height:1.2em;
}

.services-block-two .inner-box h3 a{
    position:relative;
    color:#222222;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

.services-block-two .inner-box:hover h3 a,
.services-block-two .inner-box:hover .text,
.services-block-two .inner-box:hover .designation{
    color:#ffffff;
}

.services-block-two .inner-box .designation{
    position:relative;
    color:#3e4494;
    font-size:16px;
    margin-bottom:15px;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.services-block-two .inner-box .text{
    position:relative;
    color:#727272;
    font-size:16px;
    line-height:1.6em;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}


/***
=============================================
Video Gallery Area style
=============================================
***/
.video-gallery-area{
    position: relative;
    z-index: 1;
}
.featured-content-box {
    position: relative;
    z-index: 2;
    margin-bottom: -170px;
}
.single-featured-box {
    max-width: 33.333333%;
    width: 100%;
    display: block;
    padding: 70px 30px 63px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.single-featured-box:hover {
    background: #cacaca !important;
    color: white!important;
    transition: all 500ms ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.single-featured-box .icon-holder{
    margin-bottom: 24px;
}
.single-featured-box .icon-holder span:before{
    color: #fff;
    font-size: 60px;
    line-height: 60px;
}
.single-featured-box .text-holder{

}
.single-featured-box .text-holder h3{
    color: #ffffff;
    margin: 0 0 16px;
}
.single-featured-box .text-holder p{
    color: #ffffff;
    margin: 0;
}

.single-featured-box.bg-one{
    background: #f4f4f4;
}
.single-featured-box.bg-one .icon-holder span:before{
    color: #d0d0d0;
}
.single-featured-box.bg-one .text-holder h3{
    color: #222222;
}
.single-featured-box.bg-one .text-holder p{
    color: #909090;
}

.single-featured-box.bg-two{
    background: #387eb2;
}
.single-featured-box.bg-three{
    background: #f87845;
}


.video-galley-content {
    padding-top: 233px;
    padding-bottom: 90px;
    z-index: 1;
}
.video-galley-content .inner-content {
    max-width: 900px;
    margin: 0 auto;
}
.video-galley-content .title{
    margin-bottom: 23px;
}
.video-galley-content .title h1{
    color: #ffffff;
    font-size: 32px;
    line-height: 40px;
}
.video-galley-content .text{
    margin-bottom: 52px;
}
.video-galley-content .text p{
    color: #b5b5b5;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}
.video-galley-content .icon-holder{
    margin-bottom: 30px;
}
.video-galley-content .icon-holder span:before {
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}
.video-galley-content a.video-partner {
    background: #47588f;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px 4px;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.parallax-bg-one {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.parallax-bg-one::before {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.grey-bg{
    background-color: #fff;
    height: 100%;
}

.why-chooseus_professional{
    position:relative;
    padding: 90px 0px 60px;
}

.why-chooseus_professional {
    background: #dee2e6;
}

.services-style-one{
    position:relative;
    margin-bottom: 30px;
}

.services-style-one .inner{
    position:relative;
    border-radius:5px;
    padding:40px 35px 0px;
    margin-left: 40px;
    padding-left: 55px;
    background: #f7f7f7;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

.services-style-one .inner .image-layer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.services-style-one .inner .image-layer:before{
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #387eb2;
}

.services-style-one .inner .icon-box{
    position: absolute;
    color: #0e7eff;
    font-size: 50px;
    left: -37px;
    top: 50%;
    margin-top: -43px;
    background: url(http://yanfoma.tech/images/frontEnd/info-icon.png) no-repeat;
    width: 75px;
    height: 86px;
    line-height: 86px;
    text-align: center;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

.services-style-one .inner h3{
    position:relative;
    font-weight:600;
    font-size: 18px;
    padding-bottom:15px;
    text-transform: capitalize;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

.services-style-one .inner h3 a{
    color:#333333;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}


.services-style-one .inner .text{
    position:relative;
    line-height:1.8em;
    color:#777777;
    font-size:16px;
    padding-bottom: 25px;
}

.services-style-one .inner .arrow-box{
    position:relative;
    width:50px;
    height:50px;
    color:#387eb2;
    text-align: center;
    top: 16px;
    line-height:48px;
    border-radius:50%;
    display:inline-block;
    margin-bottom: -10px;
    background-color: #ffffff;

}

.services-style-one .inner:hover .icon-box,
.services-style-one .inner:hover h3 a,
.services-style-one .inner:hover .text{
    color:#ffffff;
}

.services-style-one .inner:hover .arrow-box{
    background-color:#387eb2;
    border-color:#387eb2;
    color:#ffffff;

}

.services-style-one .inner:hover .image-layer{
    opacity:1;
}
.sec-title h2{
    font-size: 32px!important;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #387eb2;
}

/***
Testimonial style
***/
.fluid-section-two {
    position: relative;
    background-color: #272727;
}

.fluid-section-two .background-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fluid-section-two .background-image:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
}

.fluid-section-two .testimonial-column {
    position: relative;
}

.fluid-section-two .testimonial-column .inner {
    position: relative;
    padding: 192px 0px 192px;
}

.fluid-section-two .testimonial-column .testimonial-style-two {
    position: relative;
}

.fluid-section-two .testimonial-column .inner .testimonial-inner .owl-dots,
.fluid-section-two .testimonial-column .inner .testimonial-inner .owl-nav {
    display: none;
}

.fluid-section-two .testimonial-column .inner .testimonial-inner {
    position: relative;
    padding: 45px 48px;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
    margin-right: 20px;
    background-color: #387eb2;
}

.fluid-section-two .testimonial-column .inner .testimonial-inner .quote-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 55px;
    height: 55px;
    padding-top: 10px;
    color: #387eb2;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    margin-top: -28px;
    z-index: 10;
    overflow: hidden;
    background: white;
    margin-left: -28px;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.fluid-section-two .testimonial-column .inner .testimonial-inner .quote-icon .icon {
    position: relative;
    display: block;
    background-color: #ffffff;
}

.fluid-section-two .testimonial-box {
    position: relative;
    /*padding-left:28px;*/
}

.fluid-section-two .testimonial-box .inner-box {
    position: relative;
}

.fluid-section-two .testimonial-box .inner-box .text {
    position: relative;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6em;
    color: #ffffff;
}

.fluid-section-two .testimonial-box .inner-box h4 {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    padding-left: 40px;
    display: inline-block;
}

.fluid-section-two .testimonial-box .inner-box h4:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 15px;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
}

.fluid-section-two .content-column {
    position: relative;
    margin-bottom: 30px;
}

.fluid-section-two .content-column .inner {
    position: relative;
    padding: 80px 20px 0px 90px;
}

.fluid-section-two .testimonial-column .inner h2,
.fluid-section-two .content-column .inner h2 {
    position: relative;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.fluid-section-two .testimonial-column .inner h2 span,
.fluid-section-two .content-column .inner h2 span {
    color: #387eb2;
}

.fluid-section-two .featured-info-block {
    position: relative;
    margin-bottom: 50px;
}

.fluid-section-two .featured-info-block .inner-box {
    position: relative;
    padding-left: 100px;
    min-height: 86px;
}

.fluid-section-two .featured-info-block .inner-box .icon-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    font-size: 34px;
    line-height: 86px;
    height: 86px;
    text-align: center;
    background: url(http://yanfoma.tech/images/frontEnd/info-icon.png) no-repeat;
}

.fluid-section-two .featured-info-block .inner-box .icon-box .icon {
    position: relative;
    color: #0e7eff;
}

.fluid-section-two .featured-info-block .inner-box .icon-box:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    width: 2px;
    height: 100px;
    margin-left: -1px;
    background-color: #2c3955;
}

.fluid-section-two .featured-info-block:last-child .inner-box .icon-box:after {
    display: none;
}

.fluid-section-two .featured-info-block .inner-box h3 {
    position: relative;
    font-size: 22px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 15px;
}

.fluid-section-two .featured-info-block .inner-box h3 a {
    position: relative;
    color: #ffffff;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.fluid-section-two .featured-info-block .inner-box h3 a:hover {
    color: #387eb2;
}

.fluid-section-two .featured-info-block .inner-box .text {
    position: relative;
    color: #7d8697;
    font-size: 14px;
}

.testimonial-section .image-box {
    position: absolute;
    left: -200px;
    top: -160px;
}

.testimonial-section .column .inner-box {
    padding-left: 225px;
}

.testimonial-section .column .inner-box h2 {
    font-weight: 800;
    font-size: 32px;
    color: #ffffff;
    line-height: 1.2em;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.testimonial-section .testimonial-style-one {
    position: relative;
}

.testimonial-section .testimonial-style-one .number {
    position: relative;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
    padding-bottom: 10px;
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.testimonial-section .testimonial-style-one .text {
    position: relative;
    color: #dddddd;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    padding: 25px 30px;
}

.testimonial-section .testimonial-style-one .author-info {
    position: relative;
    padding-left: 85px;
    padding-top: 5px;
    min-height: 67px;
}

.testimonial-section .testimonial-style-one .author-info .author-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 67px;
    height: 67px;
    border-radius: 50%;
}

.testimonial-section .testimonial-style-one .author-info .author-thumb img {
    position: relative;
    width: 100%;
    border-radius: 50%;
}

.testimonial-section .testimonial-style-one .author-info h4 {
    position: relative;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}