<template id="boxed-wrapper">

  <head>
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" media="screen,projection"> 
    <link rel="stylesheet" href="../css/toastr.min.css" type="text/css" media="screen,projection">
  </head>
  
  <div class="boxed_wrapper">
    <style>
      @import url("../CSS/inter.css");
    </style>

    <section class="fluid-section-two">
      <!--BG Image-->
      <div class="background-image"></div>
      <div class="container">
        <div class="row clearfix">
          <div class="testimonial-column col-md-6 col-sm-12 col-xs-12">
            <div class="inner">
              <!--Testimonial Style-->
              <div class="testimonial-inner">
                <div class="quote-icon">
                  <span class="icon fa fa-quote-left"></span>
                </div>
                <div class="testimonial-style-two">
                  <div class="owl-stage-outer">
                    <div class="owl-stage">
                      <div class="" style="width: 354px; margin-right: 0px;">
                        <div class="testimonial-box">
                          <div class="inner-box">
                            <div class="text" >It’s not about ideas but making them come true and The only thing worse than starting something and failing… is not starting something</div>
                            <h4 style="font-style: italic;">Yanfoma - The Hotpot of Technologies</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Content Column-->
          <div class="content-column col-md-6 col-sm-12 col-xs-12">
            <div class="inner">
              <h2>Why <span>Choose Us</span></h2>
              <div class="featured-info-block">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-competition"></span>
                  </div>
                  <h3><a href="#">Market entry</a></h3>
                  <div class="text">Bring your technology product in the African market</div>
                </div>
              </div>
              <div class="featured-info-block">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-check-list"></span>
                  </div>
                  <h3><a href="#">Efficiency</a></h3>
                  <div class="text">Grow your organization with our technology expertise</div>
                </div>
              </div>
              <div class="featured-info-block">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-people-1 "></span>
                  </div>
                  <h3><a href="#">Innovation</a></h3>
                  <div class="text">Develop your technology idea</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="why-chooseus_professional">
      <div class="container">
        <!--Sec Title-->
        <div class="sec-title center">
          <h2> Our Services </h2>
          <div class="separator"></div>
        </div>
        <div class="row clearfix">
          <!--Services Style One-->
          <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <div class="image-layer"></div>
              <div class="icon-box">
                <span class="icon fa fa-pie-chart"></span>
              </div>
              <h3><a href="#">partnership</a></h3>
              <div class="text">Lets Collaborate and make great things together</div>
            </div>
          </div>

          <!--Services Style One-->
          <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <div class="image-layer"></div>
              <div class="icon-box">
                <span class="icon fa fa-laptop"></span>
              </div>
              <h3><a href="#">Web</a></h3>
              <div class="text">Get your website running on all platforms </div>
            </div>
          </div>

          <!--Services Style One-->
          <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <div class="image-layer"></div>
              <div class="icon-box">
                <span class="icon fa fa-film"></span>
              </div>
              <h3><a href="#">Medias</a></h3>
              <div class="text">Get An Internet Identity Right Now!!! </div>
            </div>
          </div>

          <!--Services Style One-->
          <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <div class="image-layer"></div>
              <div class="icon-box">
                <span class="icon fa fa-line-chart"></span>
              </div>
              <h3><a href="#">Analytics</a></h3>
              <div class="text">Control all the data and traffic of your business</div>
            </div>
          </div>

          <!--Services Style One-->
          <div class="services-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner">
              <div class="image-layer"></div>
              <div class="icon-box">
                <span class="icon fa fa-dollar"></span>
              </div>
              <h3><a href="#">Referral</a></h3>
              <div class="text">Recommend our services to your friends and get paid for it</div>
            </div>
          </div>

          <!--Services Style One-->
        </div>
      </div>
    </section>

    <section class="consultations sec-padd" style="background: #112831;margin-top: -80px;!important;" >
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="contact-info">
              <div class="section-title">
                <h3>Contact</h3>
              </div>

              <div class="widget-content">
                <ul class="list-info">
                  <li><span class="fa fa-phone"></span>Phone: +886 9895-97235</li>
                  <li><span class="fa fa-envelope"></span>Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a4cdcac2cbe4ddc5cac2cbc9c58ad0c1c7cc">[email&#160;protected]</a></li>
                  <li><span class="fa fa-clock-o"></span>Everyday: 24H/24</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="section-title">
              <h2>Get A Quotation</h2>
            </div>
            <div class="default-form-area">
              <form id="contact_form" name="contact_form" class="default-form" action="https://yanfoma.tech/en/consultation" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="H5KBeI06i8KsOTQzKL0VNPpjZc12PqqJXha3kepj">
                <div class="row-10 clearfix">
                  <div class="col-md-4 co-sm-6 col-xs-12 column">
                    <div class="form-group">
                      <input type="text" name="consultation_name" class="form-control" placeholder="Your Name" value=""  required>
                    </div>
                    <div class="form-group">
                      <input type="email" name="consultation_email" class="form-control required email" value="" placeholder="Email *" required>
                    </div>
                    <div class="form-group">
                      <input type="text" name="consultation_phone" class="form-control" value="" placeholder="Phone / WhatsApp" required>
                    </div>
                    <div class="form-group">
                      <select class="text-capitalize selectpicker" name="consultation_service" data-style="g-select"  data-width="100%" multiple>
                        <option selected disabled>Select a Service</option>
                        <option value="Hébergement">Hosting</option>
                        <option value="Site Vitrine">Showcase Website</option>
                        <option value="Site E-Commerce">Site E-Commerce</option>
                        <option value="Réferencement">SEO</option>
                        <option value="Consultation">Consulting</option>
                      </select>

                    </div>
                  </div>
                  <div class="col-md-8 co-sm-6 col-xs-12 column">
                    <div class="form-group style-2">
                      <textarea name="consultation_message" class="form-control textarea required" placeholder="Message...." required></textarea>
                      <button class="thm-btn thm-color" type="submit" data-loading-text="Please wait...">
                        <i class="fa fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script src="../js/body.js"></script>
